
.bg-1{
    text-align: center;
    background-color: #333;
    
    padding-top:68px;
        margin-bottom:50px;
  }
  
  .walle{
    padding: 100px;
  }
  
  h1{
    font-size: 400%;
    font-family: 'Quicksand', sans-serif;
    color: darkcyan;
  
  }
  
  #toGrams{
    font-size: 150%;
    font-family: 'Karla', sans-serif;
    border-radius: 50px;
    color: darkcyan;
  }
  
  #toOunces{
    font-size: 150%;
    font-family: 'Karla', sans-serif;
    border-radius: 50px;
    color: darkcyan;
  }
  
  #inputField{
    font-size: 150%;
    border-radius: 50px;
  }
  
  #allNumbers{
    font-size: 130%;
    color: aliceblue;
  }
  
  